---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Statistics">
  <div class="alert alert-danger d-none" role="alert">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-triangle-alert"
      ><path
        d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"
      ></path><path d="M12 9v4"></path><path d="M12 17h.01"></path></svg
    >
    You are currently not signed in. In order to access admin features and make the
    necessary changes, please sign in to your account.
  </div>

  <h1>Statistics</h1>
  <p>Total blacklisted sites count: <b id="sitesCount">0</b></p>
  <p>Total reported sites count: <b id="reportsCount">0</b></p>
  <div>
    <h2>Administrator actions</h2>
    <p>Grab the banhammer and ban bad sites!</p>
    <div>
      <a href="/admin/reports" class="btn btn-primary"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-flag"
          ><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"
          ></path><line x1="4" x2="4" y1="22" y2="15"></line></svg
        > View all reports</a
      >
      <a href="/admin/new" class="btn btn-primary"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus"
          ><path d="M5 12h14"></path><path d="M12 5v14"></path></svg
        > Add new site</a
      >
      <a href="/admin/edit" class="btn btn-primary"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-pencil"
          ><path
            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
          ></path><path d="m15 5 4 4"></path></svg
        > Edit site</a
      >
      <a href="/admin/delete" class="btn btn-danger"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-trash-2"
          ><path d="M3 6h18"></path><path
            d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
            d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
            x1="10"
            x2="10"
            y1="11"
            y2="17"></line><line x1="14" x2="14" y1="11" y2="17"></line></svg
        > Delete site</a
      >
    </div>
  </div>
</Layout>

<script>
  import { API_URL } from "astro:env/client"

  // @ts-ignore
  if (!Cookies.get("access_token")) {
    document.querySelector(".alert")?.classList.remove("d-none")
    document.querySelectorAll(".btn").forEach((button) => {
      button.classList.add("disabled")
    })
  }

  const response = await fetch(`${API_URL}/stats`)
  const data = await response.json()

  document.getElementById("sitesCount")!.innerText = data.sites
  document.getElementById("reportsCount")!.innerText = data.reports
</script>
