---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Hello!</h1>
  <p>
    Welcome to StopMalwareContent's dashboard! It's currently work in progress
    and account creation is disabled.
  </p>
</Layout>
