---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Edit site">
  <h1>Edit site</h1>
  <div>
    <div class="mb-3">
      <label for="domainFormControl" class="form-label">Domain</label>
      <input
        type="text"
        name="domain"
        class="form-control"
        id="domainFormControl"
      />
    </div>
    <div class="mb-3">
      <label for="reasonFormControl" class="form-label">Reason</label>
      <input
        type="text"
        name="reason"
        class="form-control"
        id="reasonFormControl"
      />
    </div>
    <div class="mb-3">
      <label for="notesFormControl" class="form-label">Notes</label>
      <input
        type="text"
        name="notes"
        class="form-control"
        id="notesFormControl"
      />
    </div>
    <div class="mb-3">
      <label for="pathFormControl" class="form-label">Path</label>
      <input
        type="text"
        name="path"
        class="form-control"
        id="pathFormControl"
      />
    </div>
    <button type="submit" class="btn btn-primary" id="submitFormControl"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil"
        ><path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
        ></path><path d="m15 5 4 4"></path></svg
      > Modify</button
    >
  </div>
</Layout>

<script>
  import { API_URL } from "astro:env/client"

  const submitButton = document.getElementById("submitFormControl")
  const domain = document.getElementById(
    "domainFormControl",
  ) as HTMLInputElement
  const notes = document.getElementById("notesFormControl") as HTMLInputElement
  const path = document.getElementById("pathFormControl") as HTMLInputElement
  const reason = document.getElementById(
    "reasonFormControl",
  ) as HTMLInputElement

  // @ts-ignore
  const access_token = Cookies.get("access_token")

  submitButton?.addEventListener("click", async () => {
    if (domain?.value == "" || reason?.value == "") {
      alert("Fill out all fields!")
      return
    }

    const response = await fetch(`${API_URL}/sites/${domain.value}`, {
      method: "PUT",
      headers: {
        Authorization: `Bearer ${access_token}`,
        "Content-type": "application/json",
      },
      body: JSON.stringify({
        domain: domain.value.trim(),
        notes: notes.value ? notes.value : "/",
        path: path.value ? path.value : "/",
        reason: reason.value.trim(),
      }),
    })

    if (!response.ok) {
      alert(
        "Oops! Check if you are logged in, only admins can add/edit/delete sites.",
      )
    } else {
      alert(`Success! Modified ${domain.value}'s' entry.`)
    }
  })
</script>
